{% load static %}


<style type="text/css">
	#glass_roof{
		background-image: url({% static 'img/nice/collage_glass_roof.png'%});
		min-height: 80vh;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>
 

<div class='container pt-3'>
	<div class='row'>
		<div class='col-md-7'>
			<div class='container_rounded_half blue_light_bg'>
				<center class='pt-5 my-2'>
					<h1 class='pb-2'>КАТАЛОГ</h1>
					<h3 class='pb-5'>Выбрать модель</h3>
				</center>		
			</div>
			<div id='glass_roof' class='container_rounded_half_left'></div>
		</div>

		<div class='col-md-5'>
			<div class='container_rounded_half orange_bg'>

			</div>
		</div>
	</div>
  
</div>