@font-face {
    font-family: 'Comfortaa';
    src: url('http://127.0.0.1:8000/static/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('http://127.0.0.1:8000/static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


:root{
  --black:rgb(5, 5, 5);
  --gray:rgb(16,27,34);
  --orange:rgb(211, 94, 53);
  --violet:rgb(80, 84, 98);
  --violet_dark:rgb(61, 66, 81);
  --violet_light:rgb(202, 203, 213);
  --brick:rgb(182,97,90);
  --white: rgb(250, 249, 249);
  --white_dirty: rgb(245, 245, 245);
}

html{
  margin: 0;
  padding: 0;
}

body{
	font-family: "Raleway", serif!important;
	font-weight: 300;
	font-style: normal;
}

h1, h2, h3, h4 {
	font-family: "Comfortaa", serif;
	font-weight: 700;
}

h1{
	font-size: 2em;
}
a {
  text-decoration: none!important;
}
button{
  cursor: pointer;
}
.small{
	font-size: 0.8em;
}
.smaller{
  font-size: .7em;
}
.we_200{
    font-weight: 200;
}
.we_300{
    font-weight: 300;
}
.we_400{
    font-weight: 400;
}
.we_500{
    font-weight: 500;
}
.we_600{
    font-weight: 600;
}

.raleway{
	font-family: "Raleway", serif!important;
}
.comfortaa{
	font-family: "Comfortaa", serif;
}


/**/ /**/ /**/
/* PALETTE */
/**/ /**/ /**/ 


.black{
	color: var(--black);
}
.black_bg{
	background-color: var(--black);
}

.gray{
	color: var(--gray);
}
.gray_bg{
	background-color: var(--gray);
}

.orange{
	color: var(--orange);
}
.orange_bg{
	background-color: var(--orange);
}

.violet{
	color: var(--violet);
}
.violet_bg{
	background-color: var(--violet);
}

.violet_dark{
	color: var(--violet_dark);
}
.violet_dark_bg{
	background-color: var(--violet_dark);
}

.violet_light{
	color: var(--violet_light);
}
.violet_light_bg{
	background-color: var(--violet_light);
}


.white{
  color: #FAF9F9;
}
.white_bg{
  background-color: #FAF9F9;
}

.white_dirty{
  color: #F5F5F5;
}
.white_dirty_bg{
  background-color: #F5F5F5;
}


.orange_brick_gr{
background: radial-gradient(circle at 10% 20%, rgb(211, 94, 53) 0%, rgb(182,97,90) 90.2%)!important;
}


/**/ /**/ /**/
/**/ /**/ /**/

.logo{
	  max-width: 6em!important;
  	margin-top: .2em;
}
.logo_mob{
  height: 4.4em;
}

.logo_mob_text{
	line-height: .5;
	font-size: 1em;
}

.nav-link{
	color: var(--black)!important;
}
.nav-link:hover{
	color: var(--violet_dark)!important;
}

.nav-link-footer{
	color: var(--white);
}
.nav-link-footer:hover{
	color: var(--white_dirty);
}

.desctop_84{
  width: 84%;
  margin: .25em auto;
}
.vh_80{
	height: 80vh!important;
}
.card_title{
	background: rgba(16,27,34,0.73);
	opacity: 1;
	padding: 6px 15px 6px 15px;
	box-shadow: none;
	border: 0px solid rgba(255,255,255,0);
	border-radius: 3px;
}



.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0!important;
}




/* MODAL GALLERY */

.thumb {
	display: block;
}
.thumb_img{
	width: 100%;
}

.hide {
	display: none;
}

.block {
	display: block!important;
}   


.modal_full{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}


	@media (max-width: 810px) {
		.full_img{
			width: 20em;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	@media (min-width: 811px){
		.full_img{
			height: 96%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
		z-index: 2;
  }


.header_cover{
	margin: -9em 0 0 0;
	position: relative;
	z-index: -2;
	opacity: 1;
}