@font-face {
    font-family: 'Comfortaa';
    src: url('http://127.0.0.1:8000/static/fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('http://127.0.0.1:8000/static/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}


:root{
  --black:rgb(5, 5, 5);
  --blue_light: rgb(154, 182, 194); /* #9ab6c2 */
  --brown: rgb(66, 52, 49); /* #423431 */
  --gray:rgb(16,27,34); /* #101b22  */
  --gray_light: rgb(213, 205, 192); /* #d5cdc0 */
  --green: rgb(74, 112, 28); /* #4A701C */
  --orange:rgb(211, 94, 53); /* #d35e35 */
  --orange_light: rgb(240, 114, 69); /* #F07245 */
  --orange_so_light: rgb(252, 242, 237); /* #fcf2ed */
  --violet:rgb(80, 84, 98);
  --violet_dark:rgb(61, 66, 81);
  --violet_light:rgb(202, 203, 213);
  --brick:rgb(182,97,90);
  --white: rgb(250, 249, 249);
  --white_dirty: rgb(245, 245, 245); /* #F5F5F5 */
}

html{
  margin: 0;
  padding: 0;
}

body{
	font-family: "Raleway", serif!important;
	font-weight: 300;
	font-style: normal;
}

h1, h2, h3, h4 {
	font-family: "Comfortaa", serif;
	font-weight: 700;
}

h1{
	font-size: 2em!important;
}
h2{
	font-size: 1.6em!important;
}
h3{
	font-size: 1.4em!important;
}
h4{
	font-size: 1.2em!important;
}
h1, h2, h3, h4, p { margin: 0!important; }
a {
  text-decoration: none!important;
}
button{
  cursor: pointer;
}


table {
	border-collapse: collapse!important;
}
td,th {
	padding: 0.3em!important;
}

@media (min-width: 601px){
	table{
		width: 50%;
		margin: 0 auto 0 auto;
	}

}
@media (max-width: 600px) {
	table{
		width: 100%;
	}
	td {
		width: 20%;
		box-sizing: border-box; 
	}
}

.major_text{
	font-size: 1.1em!important;
}
.small{
	font-size: .8em;
}
.smaller{
  font-size: .7em;
  font-weight: 200;
}
.very_small{
	font-size: .6em;
}
.we_200{
    font-weight: 200;
}
.we_300{
    font-weight: 300;
}
.we_400{
    font-weight: 400;
}
.we_500{
    font-weight: 500;
}
.we_600{
    font-weight: 600;
}

.raleway{
	font-family: "Raleway", serif!important;
}
.comfortaa{
	font-family: "Comfortaa", serif;
}


/**/ /**/ /**/
/* PALETTE */
/**/ /**/ /**/ 


.black{
	color: var(--black);
}
.black_bg{
	background-color: var(--black);
}

.blue_light{
	color: var(--blue_light);
}
.blue_light_bg{
	background-color: var(--blue_light);
}

.brown{
	color: var(--brown);
}
.brown_bg{
	background-color: var(--brown);
}

.brick{
	color: var(--brick);
}
.brick_bg{
	background-color: var(--brick);
}

.gray{
	color: var(--gray);
}
.gray_bg{
	background-color: var(--gray);
}

.gray_light{
	color: var(--gray_light);
}
.gray_light_bg{
	background-color: var(--gray_light);
}

.orange{
	color: var(--orange);
}
.orange_bg{
	background-color: var(--orange);
}

.orange_so_light{
	color: var(--orange_so_light);
}
.orange_so_light_bg{
	background-color: var(--orange_so_light);
}


.violet{
	color: var(--violet);
}
.violet_bg{
	background-color: var(--violet);
}

.violet_dark{
	color: var(--violet_dark);
}
.violet_dark_bg{
	background-color: var(--violet_dark);
}

.violet_light{
	color: var(--violet_light);
}
.violet_light_bg{
	background-color: var(--violet_light);
}


.white{
  color: #FAF9F9;
}
.white_bg{
  background-color: #FAF9F9;
}

.white_dirty{
  color: #F5F5F5;
}
.white_dirty_bg{
  background-color: #F5F5F5;
}


.orange_brick_gr{
background: radial-gradient(circle at 10% 20%, rgb(211, 94, 53) 0%, rgb(182,97,90) 90.2%)!important;
}



.btn_transperent{
	border: none;
	border-radius: 8px;
	background: transparent;
	padding: .4em .8em;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.2);
}
.btn_transperent:hover{
	background: transparent;
	padding: .4em .8em;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	-moz-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
}


.btn_orange{
	background-color: var(--orange_light);
	color: var(--white_dirty);
	border: none;
	border-radius: 5px;
	font-weight: 400;
	padding: .4em .8em;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	-moz-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
}


.btn_green{
	background-color: var(--green);
	color: var(--white_dirty);
	border: none;
	border-radius: 5px;
	font-weight: 400;
	padding: .4em .8em;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	-moz-box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
	box-shadow: 4px 4px 8px 0px rgba(61, 66, 81, 0.3);
}


.btn_icon{
	width: 2.4em;
}

.sm_icon{
	width: 1.4em;
	height: 1.4em;
}

.vh_100{
	min-height: 100vh;
}
.container_rounded{
	border: none;
	border-radius: 2em!important;
}
.container_rounded_1{
	border: none;
	border-radius: 2em 0 0 0;
}
.container_rounded_half{
	border: none;
	border-radius: 0 2em;
}
.container_rounded_half_left{
	border: none;
	border-radius: 2em 0 0 2em;
}
.container_rounded_half_right{
	border: none;
	border-radius: 0 2em 2em 0;
}

.container_rounded_3{
	border: none;
	border-radius: 2em 2em 2em 0px;
}

/**/ /**/ /**/
/**/ /**/ /**/

.logo{
	  max-width: 6em!important;
  	margin-top: .2em;
}
.logo_mob{
  height: 3.4em;
}

.logo_mob_text{
	line-height: 1;
	font-size: .8em;
}

.nav-link{
	color: var(--black)!important;
}
.nav-link:hover{
	color: var(--violet_dark)!important;
}

.nav-link-footer{
	color: var(--white);
}
.nav-link-footer:hover{
	color: var(--white_dirty);
}

.desctop_84{
  width: 84%;
  margin: .25em auto;
}

/* DESCTOP */
@media (max-width: 810px) {
	.desctop_50{
		width: 80%;
	  margin: .25em auto;
	}
	.desctop_70{
		width: 90%;
	  margin: .25em auto;
	}
	.info_block{
		padding: 3rem 0 3rem 1.5rem;
		margin: .5rem 0 0 0;
	}
}


/* MOB & TABLET */
@media (min-width: 811px) {
	.desctop_50{	
		width: 50%;
		margin: .25em auto;
	}
	.desctop_70{	
		width: 70%;
	  margin: .25em auto;
	}

	.info_block{
		padding: 3rem 0 3rem 3rem;
		margin: .5rem 0 0 0;
	}
}

.vh_80{
	height: 80vh!important;
}
.card_title{
	background: rgba(16,27,34,0.73);
	opacity: 1;
	padding: 6px 15px 6px 15px;
	box-shadow: none;
	border: 0px solid rgba(255,255,255,0);
	border-radius: 3px;
}



.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0!important;
}




/* MODAL GALLERY */

.thumb {
	display: block;
}
.thumb_img{
	width: 100%;
}

.hide {
	display: none;
}

.block {
	display: block!important;
}   


.modal_full{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
}


@media (max-width: 810px) {
	.full_img{
		width: 20em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 811px){
	.full_img{
		height: 96%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

  .close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
		z-index: 2;
  }


.header_cover{
	margin: -9em 0 0 0;
	position: relative;
	z-index: -2;
	opacity: 1;
}
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.shadow_out{
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}





/*  BOOTSTRUP UPDATE */

.navbar-brand{
	margin: 0!important;
}
.carousel-caption{
	text-align: left!important;
}