{% load static %}

<div class='form_container we_300'>

    <label class="d-flex justify-content-start" for="{{ callme_form.first_name.id_for_label }}">{{ callme_form.first_name.label }}</label>
    {{ callme_form.first_name }}

    <label  class="d-flex justify-content-start pt-2" for="{{ callme_form.phone.id_for_label }}">{{ callme_form.phone.label }}</label>
    {{ callme_form.phone }}
    
    {% csrf_token %}

    <input type="hidden" name="form_type" value="call_me">
    <center class='pt-5 pb-3'><input type="submit" value="Получить консультацию" class="button_dark"></center>

    <p class='pt-3 smaller'>* Нажимая на кнопку "Получить консультацию",<br>Вы соглашаетесь с <u><a class='gray_dark' href='{% url "main:privacy" %}'>Политикой конфиденциальности</a></u>.</p>

  </div>