{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>
    {% if page_title %}
      {{ page_title }}
    {% else %}
      Сплит-системы Янтарный климат
    {% endif %}
  </title>

  <link rel="shortcut icon" type="image/png" href="{% static 'brand/favicon.ico' %}" >

  <link rel="stylesheet" href='{% static "css/main_style.css" %}'>
  <link rel="stylesheet" href='{% static "css/bootstrap.min.css" %}'>
  <link rel="stylesheet" href="{% static 'owl/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'owl/owl.theme.default.min.css' %}">

  <!-- Yandex.Metrika counter -->

  <!-- /Yandex.Metrika counter -->

</head>
<body>

<header>

 


  <!-- DESCTOP -->
  <div class='d-none d-lg-block d-xl-block d-xxl-block'>

    <div class="d-flex justify-content-between orange_bg py-2">

      <div class="d-flex justify-content-start pt-1 ps-5">
        <img class ='sm_icon' src='{% static "icons/call.png" %}' />
        <p class='white_dirty ps-2'>+7 911 7501492</p>
      </div>
      <button class='btn_orange_header me-5'>Заказать звонок</button>
    </div>

      <div class="desctop_84">
        
        <div class="d-flex justify-content-between ">
          
          <a class="" href='{% url "main:index" %}'>   
            <div class="d-flex justify-content-start">
                <div><img class='logo p-2' src='{% static "img/logo.png" %}'></div>         
                <div class='black pt-4'>
                  <strong>Кондиционеры Янтарный климат</strong>
                  <br>
                  <span class='small'>+7(911)768-29-92  ·  info@spb-jara.net</span>
                </div>
            </div>
          </a>

          <div class="d-flex justify-content-center ps-3 pt-3" id="">
            <a class="nav-link " href='{% url "catalog:catalog" %}'>Каталог</a>
            <a class="nav-link " href='{% url "main:install" %}'>Установка</a>
            <span class='pt-2 bordo'>|</span>
            <a class="nav-link" href='{% url "main:service" %}'>Обслуживание и ремонт</a>
            <span class='pt-2 bordo'>|</span>
            <a class="nav-link" href='{% url "main:ventilation" %}'>Вентиляция</a>
            <span class='pt-2 bordo'>|</span>      
            <a class="nav-link" href='{% url "portfolio:portfolio" %}'>Портфолио</a>
            <span class='pt-2 bordo'>|</span> 
            <a class="nav-link" href='{% url "main:feedback" %}'>Отзывы</a>
            <span class='pt-2 bordo'>|</span>      
            <a class="nav-link" href='{% url "main:contact" %}'>Контакты</a>   
          </div>

        </div>

      </div>
  </div>

  <!-- PHONE & TABLET -->
  <div class='d-block d-lg-none '>
    <div class='orange_bg px-3 py-2'>
      <div class="d-flex justify-content-between">
    
        <div class="d-flex justify-content-start pt-1">
          <img class ='sm_icon' src='{% static "icons/call.png" %}' />
          <p class='white_dirty phone_header ps-2'>+7 911 7501492</p>
        </div>
        <button class='btn_orange_header'>Заказать звонок</button>
        
      </div>
    </div>

    <nav id='nav_mob' class="px-3 pt-1 orange_so_light_bg">
      <div class="d-flex justify-content-between">
        <div>
          <a class="navbar-brand" href='{% url "main:index" %}'>
            <div class='d-flex'>  
              <div>
                <img class='logo_mob' src='{% static "img/logo.png" %}'>
              </div>
              <div class="ps-2">
                <div class="d-flex flex-column">
                  <p class='brown very_small pt-3'>Надёжные сплит-системы</p>
                  <p class='orange comfortaa we_500 logo_mob_text pt-1'>ЯНТАРНЫЙ КЛИМАТ</p>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class='pt-3'>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="add_bg();" onclick="toggleMenuIcon();">
            <img id="menuIcon" class='menu_icon pt-1' src="{% static 'icons/menu.svg' %}">
          </button>
        </div>

      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav menu_mob_list ps-3">

          <li class="nav-item">
            <a class="nav-link " href='{% url "catalog:catalog" %}'>Каталог сплит-систем</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href='{% url "main:install" %}'>Установка</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href='{% url "main:service" %}'>Обслуживание и ремонт</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "main:ventilation" %}'>Вентиляция</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href='{% url "portfolio:portfolio" %}'>Портфолио</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "main:feedback" %}'>Отзывы</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href='{% url "main:contact" %}'>Контакты</a>
          </li>

          <hr>
        </ul>
      </div>
    </nav>

  </div>


  <div id='wa_fly'>{% include 'catalog/parts/btn_wa.html' %}</div>

</header>


{% block content %}
{% endblock %}


<!-- FOOTER -->
  <footer class=''>

    <!-- DESCTOP -->
    <div class='d-none d-lg-block d-xl-block d-xxl-block'>
      <section class="brown_bg py-3">
        <div class="d-flex justify-content-around">
          <a class="nav-link-footer px-1" href='{% url "catalog:catalog" %}'>Каталог</a>
          <a class="nav-link-footer px-1" href='{% url "main:install" %}'>Установка</a>
          <a class="nav-link-footer px-1" href='{% url "main:service" %}'>Обслуживание и ремонт</a>
          <a class="nav-link-footer px-1" href='{% url "main:ventilation" %}'>Вентиляция</a>  
          <a class="nav-link-footer px-1" href='{% url "portfolio:portfolio" %}'>Портфолио</a>
          <a class="nav-link-footer px-1" href='{% url "main:feedback" %}'>Отзывы</a>      
          <a class="nav-link-footer px-1" href='{% url "main:contact" %}'>Контакты</a>
        </div>
      </section>
    </div>

    <!-- PHONE -->
    <div class='d-block d-lg-none'>
      <section class="brown_bg py-3">
        <div class="desctop_84">
          <div class="row ">
            <div class='col-8'>
              <p class=""><a class="nav-link-footer px-1" href='{% url "catalog:catalog" %}'>Каталог сплит-систем</a>
              <p><a class="nav-link-footer px-1" href='{% url "main:install" %}'>Услуги по установке</a>
            </div>
            <div class='col-4'>
              <p><a class="nav-link-footer px-1" href='{% url "portfolio:portfolio" %}'>Портфолио</a>
              <p><a class="nav-link-footer px-1" href='{% url "main:feedback" %}'>Отзывы</a>      
            </div>
          </div>
          <p><a class="nav-link-footer px-1" href='{% url "main:service" %}'>Обслуживание и ремонт</a>
        </div>
      </section>
    </div>

    <section class="brown_dark_bg white_dirty py-3">
      <div class='desctop_84'>
        <div class='row'>
          <div class='col-md-6'>
            <p>А можно посмотреть, как вы работаете? Можно.
            <p>Рассказываем о тонкостях нашей работы на Youtube-канале:
              <a>
                <img class='mt-3' src='{% static "img/youtube.png" %}'>
              </a>
          </div>
          <div class='col-md-2 small'>
            <h2 class='pb-2 pt-3'>ЦЕНЫ</h2>
            <p class='pb-2'>Прайс на установку
            <p class='pb-2'>Прайс на обслуживание
            <p>Прайс на ремонт
          </div>
          <div class='col-md-2'>
            <h2 class='pb-2 pt-3'>КОНТАКТЫ</h2>
            <p class='pb-2'>☎ +7 911 768-29-92
            <p class='pb-2'>✉ info@spb-jara.net

            <p class='pb-2'>Скачать образец договора подряда
          </div>
          <div class='col-md-2'>
            <img src='{% static "img/box_small.png" %}'>
          </div>
        </div>

    
                
        <p class='gray_light smaller we_300 pt-3'>  
        © 2024, SPB-ЖАРА.НЕТ. Все права защищены.
        </p>

      </div>
    </section>
  
  </footer>



<script src='{% static "js/bootstrap.min.js" %}'></script> 



<script src='{% static "js/add_bg.js" %}'></script>
<script src='{% static "js/add_space.js" %}'></script>
<script src='{% static "js/modal_form.js" %}'></script>
<script src="{% static 'js/lazy_video_load.js' %}"></script>
<script src='{% static "js/toggle_menu.js" %}'></script>

<script src='{% static "js/jquery-3.7.1.min.js" %}'></script>
<script src="{% static 'owl/owl.carousel.min.js' %}"></script>



<script>
$(document).ready(function(){
    $('.owl-carousel-five').owlCarousel({
      items: 5, // Set the number of items to display in the carousel
      loop: true, // Enable loop
      margin: 10, // Set margin between items
      autoplay: true, // Enable autoplay
      autoplayTimeout: 3000, // Set autoplay timeout
      responsive:{
        0:{
          items:1
        },
        600:{
          items:5
        }
      }
    });
  });
</script>

<script>
$(document).ready(function(){
    $('.owl-carousel-one-by-one').owlCarousel({
      items: 1, // Set the number of items to display in the carousel
      loop: true, // Enable loop
      margin: 10, // Set margin between items
      autoplay: true, // Enable autoplay
      autoplayTimeout: 3000, // Set autoplay timeout
      responsive:{
        0:{
          items:1
        },
        600:{
          items:1
        }
      }
    });
  });
</script>

</body>
</html>
