{% extends 'main/base.html' %}
{% load static %}

{% block content %}



<div class='desctop_84'>
	<h2 class='orange pt-2 '>Ремонтировать кондиционер или покупать новый?</h2>
	<div class='row'>
		<div class='col-md-6'>
			<p class='pt-3'>Нужна консультация по вопросам ремонта и технического обслуживания?</p>
			<p class='pt-2'>Нужна помощь в выборе оптимально подходящей вам сплит-системы?</p>
			<p class='pt-2'>Хотите оставить заявку на ремонт?</p>
		</div>
		<div class='col-md-6'>
			<p class='pt-3'>Наши специалисты ответят на ваши вопросы!</p>

			<p class='we_500'> +7 911 768-29-92</p>
			<p class='we_500'> info@spb-jara.net</p>
		</div>
	</div>

	<section>
		{% include 'catalog/parts/form_callme_page.html' %}
	</section>
</div>

{% endblock %}