{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item orange_brick_gr active">
			
			<div class="carousel-caption d-none d-md-block">
				<p>- СВЕЖЕСТЬ -</p>
				<h2>СВОЯ АТМОСФЕРА</h2>
				<p>Ионизация воздуха.
				Как вблизи горного водопада.
				Только дома.</p>
			</div>
		</div>

		<div class="carousel-item">
			<img class="d-block w-100" src="" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<p>- СЕРВИС-</p>
				<h2>БЕСПЛАТНЫЙ</h2>
				<p>выезд мастера для замера
				перед монтажом</p>
			</div>
		</div>

		<div class="carousel-item">
			<img class="d-block w-100" src="" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<p>- КОМФОРТ -</p>
				<h2>ВАЖНЕЙ ВСЕГО ПОГОДА
				В ДОМЕ</h2>
				<p>Высокотехнологичные решения
					климат-контроля</p>
			</div>
		</div>

		<div class="carousel-item">
			<img class="d-block w-100" src="" alt="First slide">
			<div class="carousel-caption d-none d-md-block">
				<p>- ПРИОРИТЕТЫ -</p>
				<h2>ВЫСОКОЕ КАЧЕСТВО СПЛИТ-СИСТЕМ</h2>
				<p>Высокое качество жизни</p>
			</div>
		</div>

    </div>
</div>


<div class='desctop_84'>
	<h2>Помогаем взять климат под контроль</h2>
	<p>Мы занимаемся сплит-системами уже 17 лет: продаем, обслуживаем, ремонтируем кондиционеры петербуржцев. Поэтому знаем, каким производителям систем контроля климата действительно можно доверять.</p>

	<div class='row pt-4'>
		<div class='col-md-4'>
			<img src="{% static 'img/month.png' %}">
			<p class='pt-3'><strong>Выполняем работы строго в указанные сроки</strong>
		</div>
		<div class='col-md-4'>
			<img src="{% static 'img/safe.png' %}">
			<p class='pt-3'><strong>Гарантия на оборудование при покупке кондиционера – 36 месяцев</strong>
		</div>
		<div class='col-md-4'>
			<img src="{% static 'img/clean.png' %}">
			<p class='pt-3'><strong>Работаем чисто и аккуратно</strong>
		</div>
	</div>


	<p>Образец договора подряда можно посмотреть и скачать <a href='/static/Договор-подряда-образец.pdf'>здесь</a>.


	<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h2>АКЦИЯ</h2>
					<div class='row'>
						<div class='col-md-6'>
							<p>При покупке кондиционера Haier Flexis  AS25S2SF2FA-W/1U25S2SM3FA - подарок на выбор: </p>
						</div>
						<div class='col-md-6'>
							<img src="{% static 'img/action_flexis.png' %}">	
						</div>
					</div>

					<div class='row pt-4'>
						<div class='col-md-4'>
							<img src="{% static 'img/box2.png' %}">
							<p class='pt-3'><strong>Стандартный монтаж - БЕСПЛАТНО</strong>
						</div>
						<div class='col-md-4'>
							<img src="{% static 'img/box1.png' %}">
							<p class='pt-3'><strong>2 билета в Мариинский театр</strong>
						</div>
						<div class='col-md-4'>
							<img src="{% static 'img/box.png' %}">
							<p class='pt-3'><strong>Сервисное обслуживание<br>1 кондиционера - БЕСПЛАТНО</strong>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


</div>

<section>
	{% include 'catalog/parts/form_callme_page.html' %}
</section>


{% endblock %}