{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<h2>Ремонтировать кондиционер или покупать новый?</h2>

<div class='row'>
	<div class='col-md-6'>
		<h4>Нужна консультация по вопросам ремонта и технического обслуживания?</h4>
		<h4>Нужна помощь в выборе оптимально подходящей вам сплит-системы?</h4>
		<h4>Хотите оставить заявку на ремонт?</h4>
	</div>
	<div class='col-md-6'>
		<h4>Наши специалисты ответят на ваши вопросы!</h4>

		<p>☎ +7 911 768-29-92
		<p>✉ info@spb-jara.net
	</div>
</div>

<section>
	{% include 'catalog/parts/form_callme_page.html' %}
</section>


{% endblock %}