{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">

	.bd-grid {
	    max-width: 1024px;
	    display: grid;
	    grid-template-columns: 100%;
	    grid-column-gap: 2rem;
	    width: calc(100% - 2rem);
	    margin-left: var(--mb2);
	    margin-right: var(--mb2);
	}

	.l-header {
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: var(--z-fixed);
	    background-color: #ffffff;
	    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
	}

	.home-img {
	    position: absolute;
	    right: 0;
	    bottom: 0;
	    width: 295px;
	}

	.home-img img {
	        width: 295px;
	        height: 295px;
	        border-radius: 50%;
	    }

	.button {
	    display: inline-block;
	    background-color: var(--first-color);
	    color: #ffffff;
	    padding: 0.75rem 2.5rem;
	    font-weight: var(--font-semi);
	    border-radius: .5rem;
	}

	    .button:hover { box-shadow: 0 10px 36px rgba(0, 0, 0, .15); }

	/*ABOUT*/

	.about-container { row-gap: 2rem; text-align: center; }
	.about-subtitle { margin-bottom: var(--mb2); }
	.about-img { justify-self: center; }
	    .about-img img { width: 200px; border-radius: .5rem; }

	/*SKILLS*/

	.skills-container { row-gap: 2rem; text-align: center; }
	.skills-subtitle { margin-bottom: var(--mb2); }
	.skills-text { margin-bottom: var(--mb4); }
	.skills-data {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    position: relative;
	    font-weight: var(--font-semi);
	    padding: 0.5rem 1rem;
	    margin-bottom: var(--mb4);
	    border-radius: .5rem;
	    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
	}

	.skills-icon {
	    font-size: 2rem;
	    margin-right: var(--mb2);
	    color: var(--first-color);
	}

	.skills-names {
	    display: flex;
	    align-items: center;
	}

	.skills-bar {
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    background-color: var(--first-color);
	    height: 0.25rem;
	    border-radius: .5rem;
	    z-index: var(--z-back);
	}

	.skills-html { width: 95%; }
	.skills-css { width: 85%; }
	.skills-js { width: 65%; }
	.skills-ux { width: 85%; }
	.skills-img { border-radius: .5rem; }

	/*WORK*/

	.work { text-align: center; }
	.work-container { row-gap: 2rem; }
	.work-img {
	    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
	    border-radius: .5rem;
	    overflow: hidden;
	}
	    .work-img img { transition: 1s; cursor: pointer; }
	        .work-img img:hover { transform: scale(1.1); }


	/*MEDIA QUERIES*/

	@media screen and (min-width: 769px) {
	    body { margin: 0; }
	    .section { padding-top: 4rem; padding-bottom: 3rem; }
	    .section-title { margin-bottom: var(--mb6); }
	        .section-title::after { width: 80px; top: 3rem; }

	    .home { height: 100vh; }
	    .home-data { align-self: flex-end; }

	    .home-social {
	        padding-top: 0;
	        padding-bottom: 2.5rem;
	        flex-direction: row;
	        align-self: flex-end;
	    }

	    .home-social-icon { margin-bottom: 0; margin-right: var(--mb4); }
	    .home-img { width: 457px; height: 475px; bottom: 15%; }

	    .about-container, .skills-container { 
	        grid-template-columns: repeat(2, 1fr);
	        align-items: center;
	        text-align: initial;
	    }

	    .about-img img { width: 300px; }

	    .work-container {
	        grid-template-columns: repeat(3, 1fr);
	        grid-template-rows: repeat(2, 1fr);
	        column-gap: 2rem;
	    }

	}

	@media screen and (min-width: 1024px) {
	    .bd-grid { margin-left: auto; margin-right: auto; }
	    .home-img { right: 10%; }
	}

	@media screen and (max-width: 768px) {
	    .nav-menu {
	        position: fixed;
	        top: var(--header-height);
	        right: -100%;
	        width: 80%;
	        height: 100%;
	        padding: 2rem;
	        background-color: var(--second-color);
	        transition: .5s;
	    }

	    .show { right: 0; }
	}
</style>



<script src="https://unpkg.com/scrollreveal"></script>
<script>
	// Scroll Reveal

	const sr = ScrollReveal({
	    origin: 'top',
	    distance: '80px',
	    duration: 2000,
	    reset: true
	})

	sr.reveal('.home-title', {} )
	sr.reveal('.button', {delay: 200} )
	sr.reveal('.home-img', {delay: 400} )
	sr.reveal('.home-social', {delay: 400,} )

	sr.reveal('.about-img', {} )
	sr.reveal('.about-subtitle', {delay: 200} )
	sr.reveal('.about-text', {delay: 400} )

	sr.reveal('.skills-subtitle', {delay: 100} )
	sr.reveal('.skills-text', {delay: 150} )
	sr.reveal('.skills-data', {interval: 200} )
	sr.reveal('.skills-img', {delay: 400} )

	sr.reveal('.work-img', {interval: 200} )

	sr.reveal('.contact-input', {interval: 200} )

</script>



<section>
	{% include 'main/parts/hero.html' %}
</section>

<section>
	{% include 'main/parts/actions.html' %}
</section>

<section>
	{% include 'main/parts/we_are.html' %}
</section>

<section>
	{% include 'main/parts/popular.html' %}
</section>


{% endblock %}