{% extends 'main/base.html' %}
{% load static %}

{% block content %}



<section id='tab_header' class='shadow_out white_dirty_bg py-3'>
	<div class='d-flex justify-content-center'>
		<div class='px-2 comfortaa'><a href='#service'><span>Диагностика</span></a></div>
		<div class='px-2 comfortaa'><a href='#fix'><span>Ремонт</span></a></div>
	</div>
</section>


<section class='pt-3 desctop_84'>

	<div class='pt-4 pb-2'>
		<h1 id='service'>Диагностика и чистка сплит-систем</h1>
		<p>тобы кондиционер работал стабильно и долго, необходима плановая диагностика — не реже одного раза в год.</p>
	</div>

	<h2>Прайс на обслуживание сплит-систем</h2>
	<table id="" class="">
		<thead class="orange_bg">
			<tr class="">
				<th class="">Услуга</th>
				<th class="">Стоимость</th>
			</tr>
		</thead>

		<tbody class="">
			<tr class="">
				<td class="">Стандартная диагностика и чистка сплит-системы до 5 кВт (внутренний и наружный блоки) специальным оборудованием под сервис-пакет</td>
				<td class="">5000₽</td>
			</tr>
			<tr class="">
				<td class="white_dirty_bg">Чистка наружного блока сплит-системы до 5 кВт специальным оборудованием</td>
				<td class="white_dirty_bg">3000₽</td>
			</tr>
			<tr class="">
				<td class="">Чистка внутреннего блока сплит-системы до 5 кВт специальным оборудованием под сервис-пакет</td>
				<td class="">4000₽</td>
			</tr>
			<tr class="">
				<td class="white_dirty_bg">Устранение протечки внутреннего блока - замена дренажной трубки (16мм)</td>
				<td class="white_dirty_bg">1500₽</td>
			</tr>
			<tr class="">
				<td class="">Дозаправка кондиционера фреоном: 22R, 410R, 32R (цена за 100 грамм)</td>
				<td class="">500₽</td>
			</tr>
			<tr class="">
				<td class="white_dirty_bg">Промышленный альпинист</td>
				<td class="white_dirty_bg">5000₽</td>
			</tr>
			<tr class="">
				<td class="">Аренда автовышки (4 часа)</td>
				<td class="">7000₽</td>
			</tr>
		</tbody>
	</table>



	<div class='pt-4 pb-2'>
		<h1 id='fix'>Ремонт сплит-систем</h1>
		<p>Кондиционер перестал справляться с охлаждением или обогревом?
		<p>Произошла протечка внутреннего блока и в комнате лужи? Обмерзание трубки наружного блока?
		<p>Решаем проблемы быстро и аккуратно. Беремся за самые сложные случаи.

		<h3>Более 15 лет возвращаем в строй кондиционеры петербуржцев</h3>


		<h2 class="pt-3">Прайс на обслуживание сплит-систем</h2>

		<table id="" class="">
			<thead class="orange_bg">
				<tr class="">
					<th class="">Услуга</th>
					<th class="">Стоимость</th>
				</tr>
			</thead>

			<tbody class="">
				<tr class="">
					<td class="">Стандартная диагностика неисправной сплит-системы до 5 кВт с выездом</td>
					<td class="">3000₽</td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg">Стандартная диагностика неисправного полупромышленного кондиционера с выездом</td>
					<td class="white_dirty_bg">4000₽</td>
				</tr>
				<tr class="">
					<td class="">Стандартная диагностика неисправного промышленного кондиционера, VRV-системы с выездом</td>
					<td class="">7000₽</td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"> </td>
					<td class="white_dirty_bg"></td>
				</tr>
						<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"></td>
					<td class="white_dirty_bg"></td>
				</tr>
				<tr class="">
					<td class=""></td>
					<td class=""></td>
				</tr>
				<tr class="">
					<td class="white_dirty_bg"> </td>
					<td class="white_dirty_bg"></td>
				</tr>

			</tbody>
		</table>

	</div>
</section>

<script src='{% static "js/sticky_header.js" %}'></script>

{% include 'catalog/parts/form_callme_page.html' %}



{% endblock%}